.banner {
    background-image: url(../../images/background.jpg);
    background-size: cover;
    background-position: center;
    padding: 150px 20px;
}

.banner h1 {
    color: white;
    margin-bottom: 5px;
    text-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
}

.banner p {
    color: white;
    opacity: .8;
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 30px;
    text-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
}

.banner a {
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
}