.btn-primary {
    color: rgba(0, 0, 0, 0.8);
    padding: 15px 25px;
    border-radius: 2px;
    font-weight: bolder;
    background: #FFBE33;
    transition: background 0.3s, color 0.3s; 
}

.btn-primary:hover {
    color: black;
    background: #FFB20F;
}